html,body{

    margin: 0;
    padding:0;
    overflow: hidden;
}

.minimize{
  position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    width: 25px;
}

#toggleCanvas{
  position: absolute;
  top: 10%;
  right:5%;
}
.MinimizeTray{
  position: fixed;
  left: 40%;
  top:95%;
  display: inline-block;
  width: 150px;
  height: 36px;
  background: #4CAF50;
  cursor: pointer;
  display: none;
  z-index: 2;
  text-align: center;
}
#myCanvas{
    background: #fff;
    position: relative;

}
.CanvasHolder{
    position: fixed;
    background-color: #4CAF50;
    padding-top: 6%;
    height: 530px;
    width: 700px;
    overflow: auto;
    margin-left: 5%;
    margin-top: 2%;
    border-right: 3px;
    border-left: 3px;
    border: 3px solid #4c5daf;
    border-radius: 4px;
    display: inline-block;
    overflow: hidden;
    transition:0.45s ease-out;
    z-index:99999999999999;
}
#myTempCanvas{
    position: absolute;
    top:82px;
    left: 0px;
}

.cursorPencil{

    cursor:url('resource/pencil1.png') 2 155, auto;
}

.cursorEraser{
    cursor:url('resource/eraser_cursor.cur'),auto;
}

.cursorObject{
    cursor: crosshair
}

#menu{
        display: inline-block;
    position: relative;
    top: 2%;
    left: 3px;
    padding:1%;
    min-width: 90%;
    min-height: 55px;
    border-radius: 5px;
}


.btn-primary{
  background-color: #4c5daf;
}
.open{
  display: block;
}
.hide{
  display: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #868e8e;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0a0b0b;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  height: 25.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #484d4d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #868e8e;
}

.input-range {
    border-radius: 5px;
    background: #ccc;
    outline: none; 
  }